* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1c1c1c;
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Inter", sans-serif;
}

#interface {
  width: 550px;
  height: 550px;
  background: #1f2937;
  padding: 118px 52px 0;
  box-shadow: 0px 0px 1px white;
}

h2 {
  color: #ffffff;
  font-size: 40px;
  line-height: 40px;
}

h2 span {
  color: #4adf86;
  display: block;
}

h3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: 10px;
}

button {
  margin-top: 51px;
  margin-bottom: 35px;
  background: #10b981;
  color: white;
  font-size: 16px;
  line-height: 24px;
  padding: 9px 17px;
  border: none;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#button-icon {
  display: inline-block;
  width: 14px;
  height: 18px;
  background: url(images/bolt.png);
  background-size: cover;
  margin-right: 15px;
}

#user-input {
  display: flex;
  justify-content: space-between;
}

#password-display-section {
  border-top: 1px solid #2f3e53;
  padding: 35px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.password-box {
  width: 211px;
  height: 39px;
  margin-bottom: 27px;
  background: #273549;
  border-radius: 6px;
  border: none;
}

.has-dots {
  background-image: url(images/dots.png);
  background-size: 20px 5px;
  background-repeat: no-repeat;
  background-position: center;
}

input {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: center;
  color: #55f991;
  letter-spacing: 2px;
}

#about {
  width: 550px;
  text-align: right;
  display: flex;
  justify-content: end;
}

#about a {
  border-radius: 50%;
  border: 1px solid white;
  background: #10b981;
  color: white;
  height: 35px;
  width: 35px;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  top: -20px;
  left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
